
#the-body {
  background-color: black;
  margin-top: 0;
}

#left-column {
  display: flex;
  flex-direction: column;
}

#top-header-box {
  display: flex;
  flex-direction: row;
  /* background-color: #85929E; */
  background-color: #E7E2E2;

  width: 1040px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 3px solid black;
  padding-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 65px;
}

#name {
  font-size: 75px;
  /* background-color: #85929E; */
  background-color: #E7E2E2;
  color: black;
  width: auto;
  margin: auto;
  margin-left: 0px;
  font-family: 'Alfa Slab One', serif;
  font-weight: 700;
  letter-spacing: 4px;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 10px;
  margin-bottom: 0;


}

#column-box {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: auto;
  /* background-color: #85929E; */
  background-color: #E7E2E2;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 65px;
}

#job-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

}

#job-title:hover {
  display: none;
}

#job-title::after {
  content: 'WEB DEVELOPER';
}

#about-me {
  font-size: 33px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 18px;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
}

#contact-me {
  /* display: flex;
  flex-direction: column;
  margin-top: 10px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 105px;
  margin-top: 25px;
  margin-left: 7px;
}

#contact-item {
  display: flex;
  flex-direction: row;

}

#aref {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 25px;
  color: black;
}

#contact-title {
  margin: 0;
  margin-left: 40px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  width: 140px;
}

#github-contact-title {
  margin: 0;
  margin-left: 35px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  width: 140px;
}

#contact-logo {
  font-size: 30px;
}



#right-column {
  display: flex;
  flex-direction: column;
}

#images {
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  border-radius: 10px;

}

#images:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

#img-container {
  height: 265px;
  width: 450px;
  overflow: hidden;
  margin-bottom: 50px;
  border-style: solid;
  border-color: darkgrey;
  border-radius: 10px;

}

body {
    background-color: white;
}

#skill-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 140px;
  margin-left: -27px;

}

#skill-item {
  font-size: 80px;
  margin: auto;

}

#container {
  width: 410px;
  overflow: hidden;
  margin-left: 45px;
}

#scroll-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.example1 {
 height: 50px;
 overflow: hidden;
 position: relative;
 width: 660px;
 margin: 0;
 margin-top: -15px;
}
.example1 h3 {
 font-size: 15px;
 color: black;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;


}
/* Move it (define the animation) */
/* @-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%);
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%);
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
 }
} */


.item{
    height: 2vh;
    margin-top: 70px;
}
a{
    text-decoration:none;
}
.label {
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    margin-top: 70px;
    margin-right: 5px;
}
.label.success {
    margin-top: 0;
}

.item:hover p.new-label span{
  display: none;
}
.item:hover p.new-label:after{
  content: 'WEB DEVELOPER';
}

#some-element {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  color: black;
  font-family: 'Lato', sans-serif;
}

#a-sample:hover #some-element {
  display: block;
}
